<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Book</key>
	<dict>
		<key>label</key>
		<string>They Cant Kill Us ...</string>
		<key>description</key>
		<string>Until They Kill us</string>
	</dict>
	<key>Brownies</key>
	<dict>
		<key>label</key>
		<string>Duncan Hines Brownies</string>
		<key>description</key>
		<string>Go mmmmmm</string>
	</dict>
	<key>Camera</key>
	<dict>
		<key>label</key>
		<string>Leica M</string>
		<key>description</key>
		<string>A bit dusty!</string>
	</dict>
	<key>IceCreamSandwich</key>
	<dict>
		<key>label</key>
		<string>Ice Cream Sandwich</string>
		<key>description</key>
		<string>Chomp Chomp</string>
	</dict>
	<key>Keys</key>
	<dict>
		<key>label</key>
		<string>Keys</string>
		<key>description</key>
		<string>2017 Honda CRV</string>
	</dict>
	<key>Knife</key>
	<dict>
		<key>label</key>
		<string>Dull knife</string>
		<key>description</key>
		<string>Just cut pizza</string>
	</dict>
	<key>Music</key>
	<dict>
		<key>label</key>
		<string>Claire de Lune</string>
		<key>description</key>
		<string>Rullfed papers</string>
	</dict>
	<key>Noah</key>
	<dict>
		<key>label</key>
		<string>Noah Depp</string>
		<key>description</key>
		<string>Identical twin</string>
	</dict>
	<key>Oscar</key>
	<dict>
		<key>label</key>
		<string>Oscar Depp</string>
		<key>description</key>
		<string>Identical twin</string>
	</dict>
	<key>Piano</key>
	<dict>
		<key>label</key>
		<string>Electric piano</string>
		<key>description</key>
		<string>Yamaha p150</string>
	</dict>
	<key>SaltnPepper</key>
	<dict>
		<key>label</key>
		<string>Salt and Pepper shakers</string>
		<key>description</key>
		<string>A bit grimy</string>
	</dict>
</dict>
</plist>
